{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="{% static 'change_password.css' %}">
</head>
<body>
    <div class="container">
        <h2>Изменить пароль</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Изменить пароль</button>
        </form>
        <a href="{% url 'profile' %}" class="return-btn">Вернуться в профиль</a>
    </div>
</body>
</html>
