{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умный друг для учебы</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
      <div id="logo" onclick="slowScroll('#top')">
        <span>SmartStudying</span>
      </div>
      <div id="about">
        <a href="#" title="Возможности" onclick="slowScroll('#main')">Возможности</a>
        <a href="#" onclick="slowScroll('#overview')" title="Преимущества">Преимущества</a>
        <a href="#" onclick="slowScroll('#faq')" title="Ответы на вопросы">FAQ</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'register' %}" title="Регистрация">Регистрация</a>
        <a href="{% url 'login' %}" title="Вход">Вход</a>
        {% else %}
        <a href="{% url 'profile' %}" title="Профиль">Профиль</a>
        {% endif %}
      </div>
    </header>
  
    <div id="top">
      <h1>Умный друг</h1>
      <h3>для учебы!</h3>
    </div>
  
    <div id="main">
      <div class="intro">
        <h2>Наши услуги помогут вам!</h2>
        <span>Большой выбор обучения</span>
      </div>
      <div class="text">
        <span>Веб-приложение "Умный друг для учебы" создано для улучшения взаимодействия между учителями и учениками, облегчая процесс создания и выполнения учебных заданий.
           Учителя могут создавать различные задания, а ученики – выполнять их через удобный интерфейс.
           Приложение также включает чат, подключенный к нейронной сети от Сбербанка, позволяя ученикам консультироваться по учебным вопросам в реальном времени.</span>
      </div>
    </div>
  
    <div id="overview">
      <h2>Преимущества</h2>
      <h4>с нами все проще</h4>
  
      <div class="img">
        <img src="{% static 'internet.jpg' %}" alt="">
        <span>Общение с чатом "Умный друг для учебы"</span>
      </div>
      <div class="img">
        <img src="{% static 'questions.jpg' %}" alt="">
        <span>Индивидуальные задания от учителя</span>
      </div>
    </div>
  
    <div id="faq">
      <div>
        <span class="title">Управление</span><br>
        <span class="heading">Как создать задание?</span>
        <p>Для создания задания учитель должен войти в систему и перейти в раздел "Создание заданий". В этом разделе можно выбрать тип задания, например, "найди пару", 
          и заполнить необходимые поля. После сохранения задание станет доступным для выполнения учениками.</p>
        <span class="heading">Как использовать чат?</span>
        <p>Для использования чата ученики должны войти в систему и перейти в раздел "Умный друг для учебы".
           В этом разделе можно задавать вопросы и получать ответы от нейронной сети, подключенной к системе.</p>
      </div>
      <div>
        <span class="title">Информация</span><br>
        <span class="heading">Что входит в услуги сервиса?</span>
        <p>Сервис включает создание и выполнение учебных заданий, а также возможность общения с нейронной сетью для консультаций по учебным вопросам.</p>
        <span class="heading">Какие типы заданий можно создавать?</span>
        <p>Учителя могут создавать различные типы заданий, включая "найди пару", тесты с выбором ответа, задания на сопоставление и многое другое.</p>
      </div>
      <div>
        <span class="title">Безопасность</span><br>
        <span class="heading">Как обеспечивается безопасность данных?</span>
        <p>Все данные защищены с помощью современных методов шифрования. Доступ к системе осуществляется только через защищенные соединения, а все действия пользователей логируются для обеспечения безопасности.</p>
      </div>
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function slowScroll(id) {
        $('html, body').animate({
          scrollTop: $(id).offset().top
        }, 500);
      }
  
      $(document).on("scroll", function () {
        if($(window).scrollTop() === 0)
          $("header").removeClass("fixed");
        else
          $("header").attr("class", "fixed");
      });
    </script>
  </body>
  </html>