body {
    font-family: 'Roboto Slab', serif;
    background-image: url('/static/profile_background.jpg');
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.chat-container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh;
    backdrop-filter: blur(10px);
}

.chat-header {
    background-color: #ec6550;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-messages p {
    margin: 5px 0;
}

.chat-input {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #ec6550;
    color: white;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #c15443;
}

.profile-btn-container {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.return-profile-btn {
    text-decoration: none;
    color: #ec6550;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.return-profile-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
