body {
    background-image: url('/static/doska.jpg'); 
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #ffffff; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 24px;
}

p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

#pairs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px 20px; 
    justify-items: center;
    max-height: 80vh; 
    overflow-y: auto; 
    margin: 0 auto; 
    width: 90%; 
}

.element {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 150px; 
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; 
    margin: 14px 0;
}

.element:hover {
    background-color: #4caf50; 
}

.element img {
    max-width: 100%;
    max-height: 100%;
}

#results {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.complete-task-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ec6550;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: #454545 0 0 2px;
    transition: background-color 0.3s ease;
    width: 250px; 
}

.complete-task-btn:hover {
    background-color: #c15443;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-btn {
    display: block;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    text-align: center;
    text-shadow: #454545 0 0 2px;
}

.return-profile-btn {
    background-color: #3b8dbc; 
}

.return-profile-btn:hover {
    background-color: #337ab7; 
}

.return-task-list-btn {
    background-color: #3bb630; 
}

.return-task-list-btn:hover {
    background-color: #3bbc5b; 
}

.element.selected {
    background-color: rgb(60, 142, 170);
}


@media (max-width: 1200px) {
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    .complete-task-btn {
        font-size: 1.1em;
        width: 220px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    .complete-task-btn {
        font-size: 1em;
        width: 200px;
    }
    .element {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .complete-task-btn {
        font-size: 0.9em;
        width: 180px;
    }
    .element {
        width: 100px;
        height: 100px;
    }
}
