body {
    background-image: url('/static/profile_background.jpg'); 
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

h1 {
    text-align: center; 
    color: #ffffff; 
    font-family: 'Roboto Slab', serif; 
    margin-bottom: 30px; 
}

.task-container {
    margin-top: 10vh;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.task-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.task-card {
    width: calc(33% - 20px); 
    margin-bottom: 20px; 
    padding-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    backdrop-filter: blur(40px);
    text-align: center; 
}

.task-card h2 {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.task-card p {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    padding: 0 20px;
}

.task-card a {
    display: block;
    margin-top: 10px;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #ec6550;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: #454545 0 0 2px;
    transition: background-color 0.3s ease;
    margin: 10px auto 0;
    text-align: center;
    text-decoration: none;
}

.task-card a:hover {
    background-color: #c15443;
}

.return-btn {
    display: block;
    width: 200px; 
    margin: 20px auto 0; 
    padding: 10px;
    background-color: #ec6550;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: #454545 0 0 2px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.return-btn:hover {
    background-color: #c15443;
}


@media (max-width: 1200px) {
    h1 {
        font-size: 22px;
    }
    .task-card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 20px;
    }
    .task-card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }
    .task-card {
        width: calc(100% - 20px); 
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 16px;
    }
    .task-card h2, .task-card p {
        font-size: 16px;
    }
    .task-card a {
        font-size: 1em;
    }
    .return-btn {
        font-size: 1em;
        width: 180px;
    }
}
